.idea/
.DS_Store

.nodemonignore
.sass-cache/
node_modules/
.tmp/
npm-debug.log
app/bower_components
.bundle/

config/config.js
config/env/development.json
config/env/production.json
config/env/test.json
config/env/travis.json

chef/.bundle/
chef/.vagrant/
chef/.vagrant/
chef/kitchen/.coverage/
chef/kitchen/.chef/knife.rb
chef/kitchen/data_bags/users/deploy.json
chef/kitchen/nodes/dev.meanr.com.json
chef/kitchen/nodes/staging.meanr.com.json
chef/kitchen/nodes/qa.meanr.com.json
chef/kitchen/nodes/meanr.com.json
