<div class="row">
    <div class="small-8 columns">

        <p></p>
        <table id="articles">

            <thead>
                <tr>
                    <th translate>Title</th>
                    <th translate>Create Date</th>
                </tr>
            </thead>

            <tbody>

            <tr data-ng-show="articlesPaginator.getTotalPages() == 0">
                <td colspan="2">
                    <p translate>There are no articles yet.</p>

                    <p ng-show="global.isSignedIn()"><span translate>Why don't you</span> <a href="/#!/articles/create" translate>Create One</a>?</p>
                </td>
            </tr>

            <tr ng-repeat="article in articlesPaginator.currentPageItems" ng-click="go.to('/articles', article._id, 'back')">
                <td>{{ article.title }}</td>
                <td nowrap="nowrap"> {{ article.created_at | date:'fullDate' }}</td>
            </tr>



            </tbody>

            <tfoot>
            <tr data-ng-hide="articlesPaginator.getTotalPages() < 2">
                <td colspan="2">
                    <button class="button round" ng-disabled="!articlesPaginator.hasPrevious()" ng-click="articlesPaginator.previous()" translate>Previous</button>
                    {{ articlesPaginator.getCurrentPage() }} / {{ articlesPaginator.getTotalPages() }}
                    <button class="button round" ng-disabled="!articlesPaginator.hasNext()" ng-click="articlesPaginator.next()" translate>Next</button>
                </td>
            </tr>
            </tfoot>

        </table>

    </div>

    <div class="small-4 columns">
    </div>

</div>
